[user]
	name = dora
	email = 31735614+dora1998@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = osxkeychain
[core]
	editor = vim
	autocrlf = input
[alias]
	co = checkout
	br = branch

[ghq]
  root = ~/Projects
