[user]
	name = dora
	email = 31735614+dora1998@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vim
	autocrlf = input
[alias]
	co = checkout
	br = branch
  sw = switch
  rs = restore

[ghq]
  root = ~/Projects
[pull]
	ff = only

[include]
	path = ~/.gitconfig.macos