[user]
	name = dora
	email = 31735614+dora1998@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vim
	autocrlf = input
[alias]
	co = checkout
	br = branch
  sw = switch
  rs = restore
  cf = commit --fixup
  rb = rebase -i --autosquash
  rc = rebase --continue
  st = status
  wip = !"git commit -m \"wip: $(date +'%F %T')\""
  amend = commit --amend --no-edit
  cb = !"f() { git switch --no-track -c $1 origin/main; }; f"
  main = checkout origin/main
[pull]
	ff = only
[branch]
	autoSetupMerge = simple

[ghq]
  root = ~/Projects

[include]
	path = ~/.gitconfig.local
